
$primary-color : #34B7B4;

$secondary-color : #F4C716;

$tertiary-color : #3D6FAC;

$optional1-color : #DD284D;

$optional2-color : #71B731;

$back-color : #FAF8F8;

$main-back: url("/public/img/back.webp");